/* ProductList.css */
.productList {
    padding: 20px;
}

.productList_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filter-options {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter-options input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-options select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
